{% extends "base.html" %}
{% block title %}
    Crud Cursos
{% endblock %}
{% block content %}
    <div class="container-sm d-grid gap-3">
        <div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearCurso">Crear Curso</button><label>Dni Del Docente {{dni}}</label></div>
        {% if cursos is not none %}
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <td>Id de Curso</td>
                        <td>Nombre</td>
                        <td>Dni Docente</td>
                        <td>Id de categoria</td>
                        <td>Sesiones</td>
                        <td colspan="2" class="text-center">Accion</td>
                    </tr>
                </thead>
                <tbody>
                    {% for curso in cursos %}
                        <tr>
                            <td class="table-primary">{{ curso.idCurso }}</td>
                            <td class="table-primary">{{ curso.nombre }}</td>
                            <td class="table-primary">{{ curso.dniDocente }}</td>
                            <td class="table-primary">{{ curso.idCategoria }}</td>
                            <td class="table-primary"><a href="{{url_for('listar_seciones',idcurso=curso.idCurso)}}">ir a sesiones</a></td>
                            <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#update_curso_{{curso.idCurso}}">Update</button></td>
                            <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_curso_{{curso.idCurso}}">Delete</button></td>
                            <!--modal actualizar curso-->
                            <div class="modal fade" id="update_curso_{{curso.idCurso}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Actualziar Curso</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="{{url_for('up_curso')}}" method="post">
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="idCurso" class="col-form-label">Id Curso</label>
                                                    <input type="text" readonly="true" class="form-control" id="idCurso" name="idCursoT" value="{{ curso.idCurso }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="categoria" class="col-form-label">Categoria:</label>
                                                    <input type="text" class="form-control" id="categoria" name="categoriaT" value="{{ curso.idCategoria }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="nombre" class="col-form-label">Nombre Curso:</label>
                                                    <input type="text" class="form-control" id="nombre" name="nombreT" value="{{ curso.nombre }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Actualizar</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                            <!-- fin actualziar curso -->
                            <!--modal elimianr curso-->
                            <div class="modal fade" id="delete_curso_{{curso.idCurso}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form action="{{url_for('del_cursos', id=curso.idCurso)}}" method="post">
                                        <div class="modal-body">
                                            <div class="form-group row">
                                            <label class="col-sm-12 col-form-label">Quiere Eliminar al Curso de <span style='font-weight:bold;color:red'>{{curso.nombre}}</span>?</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--fin modal eliminar curso-->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>   
    <!-- Modal crear curso  -->
    <div class="modal fade" id="crearCurso" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Crear Curso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{url_for('reg_curso')}}" method="POST">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="nombre" class="col-form-label">Nombre de Curso:</label>
                            <input type="text" class="form-control" id="nombre" name="nombreT">
                        </div>
                        <div class="mb-3">
                            <label for="dni" class="col-form-label">Dni Docente:</label>
                            <input type="text" class="form-control" id="dni" readonly="true" name="dniDocenteT" value="{{dni}}">
                        </div> 
                        <!--agregabdo categorias en proceso-->
                        <div class="mb-3">
                            <label for="categoriaT" class="col-form-label">Seleccione categoria</label>
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="categoriaT" id="categoriaT">
                                {% for categoria in categoriaList %}
                                    <option value="{{categoria.idCategoria}}">{{ categoria.nombCategoria }}</option>
                                {% endfor %}                          
                            </select>
                        </div>        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Registrar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--modal  crear --> 
{% endblock %}