{% extends "base.html" %}

{% block title %}
Registro Docentes
{% endblock %}

{% block content %}
<h1>Registro Docente</h1>
<form method="post" action="{{ url_for('reg_docente') }}" >
	<p><label for="dniT">Dni: </label><input type="text" name="dniT"></p>
    <p><label for="nombreT">Nombres: </label><input type="text" name="nombreT"></p>
    <p><label for="apePaternoT">Apellido Paterno: </label><input type="text" name="apePaternoT"></p>
    <p><label for="apeMaternoT">Apellido Materno: </label><input type="text" name="apeMaternoT"></p>
	<p><label for="contraseniaT">Contraseña: </label><input type="password" name="contraseniaT"></p>
	<input type="submit" values="Sign up">
</form>
{% endblock %}